header{
    color: black;
    font-size: larger;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header div{
    color: black;
    font-size: larger;
    margin: 0px;
    padding: 0px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header div img{
    object-fit: cover;
    width: 300px;
}
header div h1{
    color: black;
    margin: 0px;
    padding: 0px;
    padding-left: 60px;
}
header div p{
    color: black;
    font-size: larger;
    margin: 0;
    padding: 0;
    width: 100px;
    display: flex;
    justify-content: center;
}
header div button{
    font-size: larger;
    background-color: white;
}

.introduction{
    color: black;
    font-size: larger;
    margin: 0px;
    padding: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.introduction img{
    object-fit: cover;
    width: 400px;
    height: 300px;
}

.introduction div{
    color: black;
    font-size: larger;
    margin: 0px;
    padding: 0px;
    width: 300px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.specificContent{
    color: black;
    font-size: larger;
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.specificContent a{
    color: black;
    text-decoration: none;
    font-size: larger;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.specificContent a img{
    object-fit: cover;
    width: 450px;
    height: 300px;
}
.specificContent a p{
    width: 450px;
    display: flex;
    justify-content: center;
}

footer{
    color: black;
    font-size: larger;
    margin: 0px;
    padding: 0px;
    background-color: limegreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer section{
    color: black;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
footer section img{
    object-fit: cover;
    width: 300px;
    height: 150px;
}
footer section h2{
    width: 300px;
    display: flex;
    justify-content: center;
}
footer section p{
    width: 300px;
    display: flex;
    justify-content: center;
}
